---
layout: default
title: Kleebtronics Blog
permalink: /blog/
category: blog

---


 

   {% for p in site.posts %}
    	{% if p.category == 'blog' %}
    	
   
    <div id="blog-image">

     <a class="main-image" href="{{ p.url }}">
    <div class="blog-title">{{ p.title }}</div>
    <div class="blog-date">{{ p.date | date:"%b %d, %Y" }}</div>
    <img class="blog-image" src="{{ p.img }}" width="350"><img class="hover-image" src="{{ p.img-hover }}" display="none" width="350"></a>

	</div>

	{% endif %}
    {% endfor %}


